<div class="tarvel-form-wrapper">

<form>
    <h1 style="text-align:center;">Fill Car Information</h1>
  <div class="group">
    <input type="text"><span class="highlight"></span><span class="bar"></span>
    <label>Enter Name</label>
  </div>
  <div class="group">
    <input type="text"><span class="highlight"></span><span class="bar"></span>
    <label>Enter Type</label>
  </div>
  <div class="group">
    <input type="text"><span class="highlight"></span><span class="bar"></span>
    <label>Enter Name</label>
  </div>
  <div class="group">
    <input type="text"><span class="highlight"></span><span class="bar"></span>
    <label>Enter Car Number</label>
  </div>
  <div class="group">
    <input type="text"><span class="highlight"></span><span class="bar"></span>
    <label>Enter Number of seats</label>
  </div>
  <div class="button-wrapper">
  <button type="button" class="button buttonBlue">Submit
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</div>
</form>

</div>